
:root{
    --background:#ffffff;
    --foreground:#000000;
    --card:#b3b7cc5e;
    --primary:#b0c606;
    --color:#d3d4d9;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}

body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}


.main-container{
    height: 100vh;
    width: 100vw; 
    background-color:var(--background);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10px;
    /* background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; */
}

.heading{
    text-align: center;
    font-size: 50px; 
    font-weight: bold; 
    color: var(--primary);

}

.quote-container{
    display: flex;
    flex-direction: column;
    position: relative;
    width: 100%;
    max-width: 800px;
    padding: 30px;
    gap: 10px;
    background-color: var(--card);
    border-radius: 8px;
    backdrop-filter: blur(20px);


}

#copy-quote{
    font-size: 25px;
    color: var(--primary);
    position: absolute;
    right: 28px;
    top: 0px;
    cursor: pointer;
}
#copy-quote:hover{
    transform: scale(1.2);
}

.copied{
    color: green!important;
    right: 2px !important;
    transform: scale(.7) !important;
}


.quote{
    font-size: 30px;
    padding: 10px;
    text-align: center;
    min-width: 200px;
    min-height: 100px;
    color: var(--background);
}

.author{
    position: relative;
    right: 0;
    display: flex;
    justify-content: end;
    font-size: 20px;
    font-style: italic;
    color: var(--background);
    min-width: 100px;
    min-height: 50px;
}

.share{
    display: flex;
    align-items: center;
    position: absolute;
    left: 25px;
    bottom: 10px;
    cursor: pointer;
    gap: 12px;
    text-decoration: none;
    color: var(--color);
    
}
.share:hover{
    color: var(--primary);
}
.share:hover img{
    transform: scale(1.1);
}

.button-container{
    display: flex;
    justify-content: center;
}

.generate-button{
    background-color: var(--primary);
    color: white;
    font-weight:600;
    padding: 10px 20px;
    border-radius: 5px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

